/**
* Content Style Sheet
* Ronen 3D sound
*
* Copyright (c) 2017. by Way2CU, http://way2cu.com
* Authors: Vladimir Anusic
*/

/**
*	Header
*/

body svg {
	display: none;
}

header {
 	padding-top: @section_spacing;
 	padding-bottom: @section_spacing;
 	padding-left: calc(~'(100% - 1200px) / 2');
 	padding-right: calc(~'(50% - 2rem)');
 	background-image: url(../images/header.jpg);
 	background-repeat: no-repeat;
 	background-size: 100% auto;
 	background-position: center center;
 	min-height: 600px;
 	position: relative;

 	html[dir=rtl] & {
 		background-image: url(../images/header_rtl.jpg);
 	}
}

header h1 {
	font-size: 4rem;
	font-weight: 400;
	transform: translate(10%, 30%);
	transition: all 0.3s;

	html[dir=rtl] & {
		transform: translate(70%, 30%);
	}
}

/**
*	Section introduction
*/

section#introduction {
 	position: relative;

 	& h1#fade_out {
		width: 650px;
		position: absolute;
		bottom: 0;
		left: calc(~'(100% - 1200px) / 2');
		margin: 0px;
		padding: 0px;

		color: @color_text;
		font-size: 3.5em;
		font-weight: 400;
		text-transform: uppercase;
		text-align: center;

		html[dir=rtl] & {
			left: none;
			right: 7%;
		}

		& svg {
			display: block;
		}
 	}
}

section#introduction article:nth-of-type(1) {
 	padding-top: 5%;
 	padding-bottom: 5%;
 	padding-left: calc(~'(100% - 1200px) / 2');
 	// around two third
 	padding-right: 61%;
 	background-image: url(../images/page_2.jpg);
 	background-repeat: no-repeat;
 	background-size: 100% auto;
 	background-position: center center;

 	& h1 {
 		font-size: 2.5rem;
 		font-weight: 400;
 		margin-top: 1rem
 	}

 	& p {
 		font-size: 1.5rem;
 	}

 	html[dir=rtl] & {
 		background-image: url(../images/page_2_rtl.jpg);
 		padding-left: 61%;
	 	padding-right: calc(~'(100% - 1200px) / 2');
 	}
}

section#introduction article:nth-of-type(2) {
 	padding-top: 4%;
 	padding-bottom: 4%;
 	padding-left: calc(~'(100% - 1200px) / 2');
 	padding-right: 61%;
 	background-image: url(../images/page_3.jpg);
 	background-repeat: no-repeat;
 	background-size: 100% auto;
 	background-position: center center;
 	min-height: 230px;

 	& p {
 		font-size: 1.5rem;
 		margin-top: 1rem;

 		& em {
 			font-style: normal;

 			&:nth-of-type(1) {
 				color: @color_red;
 			}

 			&:nth-of-type(2) {
 				color: @color_blue;
 			}

 			&:nth-of-type(3) {
 				color: @color_green;
 			}
 		}
 	}

 	html[dir=rtl] & {
 		background-image: url(../images/page_3_rtl.jpg);
 		padding-left: 61%;
 		padding-right: calc(~'(100% - 1200px) / 2');
 	}
}

section#introduction article:nth-of-type(3) {
 	padding-top: 4%;
 	padding-bottom: 4%;
 	padding-left: calc(~'(100% - 1200px) / 2');
 	padding-right: 61%;
 	background-image: url(../images/page_4.jpg);
 	background-repeat: no-repeat;
 	background-size: 100% auto;
 	background-position: center center;
 	min-height: 230px;

 	& h1 {
 		display: none;
 	}

 	& p {
 		font-size: 1.5rem;
	}

	html[dir=rtl] & {
 		background-image: url(../images/page_4_rtl.jpg);
 		padding-left: 61%;
 		padding-right: calc(~'(100% - 1200px) / 2');
 	}
}

/**
*	Section depth
*/

section#depth article:nth-of-type(1) {
	padding-top: @section_spacing;
	padding-bottom: 10%;
	// content should be about 50% width
	padding-left: 23%;
	padding-right: 23%;
 	background-image: url(../images/page_5.jpg);
 	background-repeat: no-repeat;
 	background-size: 100% 100%;
 	background-position: center center;
 	text-align: center;

 	& h1 {
 		font-size: 2.5rem;
 		font-weight: 400;
 	}

 	& p {
 		font-size: 1.5rem;
 		display: block;
 		margin: 0 auto;
 	}
}

section#depth article:nth-of-type(2) {
	padding-top: 8%;
 	padding-bottom: 8%;
 	padding-left: calc(~'(100% - 1200px) / 2');
 	padding-right: 61%;
 	background-image: url(../images/page_6.jpg);
 	background-repeat: no-repeat;
 	background-size: 100% auto;
 	background-position: center center;

 	& p {
 		font-size: 1.5rem;
 	}

 	html[dir=rtl] & {
 		background-image: url(../images/page_6_rtl.jpg);
 		padding-left: 61%;
 		padding-right: calc(~'(100% - 1200px) / 2');
 	}
}


div#image_holder {
	width: 100%;
	background-image: url(../images/page_7.jpg);
 	background-repeat: no-repeat;
 	background-size: 100% auto;
 	background-position: center top;
 	min-height: 600px;
 	margin-top: -1px;
}

/**
*	Section example
*/

section#example {
	padding: 1rem;
	position: relative;
}

section#example article {
	text-align: center;
	padding-left: 23%;
	padding-right: 23%;
	padding-top: @section_spacing;
	padding-bottom: @section_spacing;

	& h1 {
		display: block;
		margin: 0 auto;
		font-size: 2.5rem;
		font-weight: 400;
	}

	& p {
		display: block;
		margin: 0 auto;
		margin-top: @paragraph_spacing;
		font-size: 1.3rem;
		font-weight: 400;
	}

	& p:last-of-type {
		position: absolute;
		width: 50%;
	    bottom: 0;
	    left: 25%;
	    border: 1px solid white;
	    padding: 4rem 3rem;
	    background-color: @color_background;
	}
}

section#example svg {
	display: block;
	margin-top: 3rem;
}

/**
*	Section about
*/

section#about {
	padding: @section_spacing calc(~'(100% - 1200px)' / 2);

	& a {
		display: block;
		width: 300px;
		height: 115px;
		box-sizing: border-box;
		transform: translate(150px, -40px);
		transition: all 0.3s;

		&:hover img,
		&:active img, {
			transform: scale(1.1);
			cursor: pointer;
			transition: all 0.3s;
		}

		html[dir=rtl] & {
			transform: translate(-150px, -40px);
		}
	}

	& a img {
		width: 300px;
	}
}

section#about article:nth-of-type(1) {
	background-image: url(../images/ronen.jpg);
	background-position: 80%;
	background-size: 300px 300px;
	background-repeat: no-repeat;
	min-height: 300px;
	padding: @section_spacing 0;
	padding-left: calc(~'(100% - 900px) / 2');
	padding-right: 50%;

	& p {
		font-size: 1.3rem;
	}

	html[dir=rtl] & {
		background-position: 20%;
		padding-left: 50%;
		padding-right: calc(~'(100% - 900px) / 2');
	}
}

section#about article:nth-of-type(2) {
	background-image: url(../images/android.jpg);
	background-position: 76%;
	background-size: 170px 300px;
	background-repeat: no-repeat;
	min-height: 300px;
	padding: @section_spacing 0;
	padding-left: calc(~'(100% - 900px) / 2');
	padding-right: 50%;

	& p {
		font-size: 1.3rem;
	}

	html[dir=rtl] & {
		background-position: 23%;
		padding-left: 50%;
		padding-right: calc(~'(100% - 900px) / 2');
	}
}

/**
*	Section development
*/

section#development {
	padding: @section_spacing 0;
}

section#development article:nth-of-type(1) {
	background-image: url(../images/adapter.jpg), url(../images/package.jpg);
	background-position: 30% 100%, 80%;
	background-size: 500px 200px, 350px 350px;
	background-repeat: no-repeat;
	min-height: 550px;
	padding: @section_spacing 0;
	padding-left: calc(~'(100% - 900px) / 2');
	padding-right: 50%;

	& h1 {

		&:first-of-type{
			font-weight: 400;
		}
	}

	& p {
		font-size: 1.3rem;
	}

	html[dir=rtl] & {
		background-position: 60% 100%, 20%;
		padding-left: 50%;
		padding-right: calc(~'(100% - 900px) / 2');
	}
}

section#development article:nth-of-type(2) {
	background-image: url(../images/earphones.jpg);
	background-position: 76%;
	background-size: 100%;
	background-repeat: no-repeat;
	min-height: 400px;
	padding: @section_spacing 0;
	padding-left: calc(~'(100% - 900px) / 2');
	padding-right: 50%;

	& h1 {

		&:first-of-type{
			font-weight: 400;
		}

	}

	& p {
		font-size: 1.3rem;
	}

	html[dir=rtl] & {
		background-image: url(../images/earphones_rtl.jpg);
		background-position: 23%;
		padding-left: 50%;
		padding-right: calc(~'(100% - 900px) / 2');
	}
}

/**
*	Section advantages
*/

section#advantages {
	padding: @section_spacing calc(~'(100% - 1200px)' / 2);
	text-align: center;

	h1 {
		margin-bottom: 3rem;
	}

	& ul {
		display: block;
		list-style-type: none;
		margin: 0;
		padding: 0;

		& li {
			display: inline-block;
			width: 50%;
			margin-bottom: 1rem;

			& svg {
				fill: @color_text;
				width: 50px;
				height: 50px;
				display: inline-block;
				margin-right: 1rem;

				html[dir=rtl] & {
					margin-right: 0;
					margin-left: 1rem;
				}
			}

			& p {
				width: 80%;
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
}

/**
*	Footer
*/

footer {

	& article {
		padding-top: @section_spacing;
		padding-bottom: 1rem;
		padding-left: calc(~'(100% - 900px) / 2');
		padding-right: 50%;

		background-image: url(../images/footer.jpg);
		background-position: 80% 100%;
		background-size: 100% auto;
		background-repeat: no-repeat;

		& h1 {
			display: block;
		}

		& p {
			display: block;
		}
	}

	html[dir=rtl] & {
		background-image: url(../images/footer_rtl.jpg);
		background-position: 20%;
		background-repeat: no-repeat;
		padding-left: 50%;
		padding-right: calc(~'(100% - 900px) / 2');
	}
}

div.copyright {
	text-align: center;
	background-color: black;
	color: white;

	background-position: calc(~'50% - 100px') center
}

@media only screen and (max-device-width: 1200px) {
	header {
		padding-top: 0;
		min-height: 500px;
	}

	section#introduction > article:nth-of-type(1),
	section#introduction > article:nth-of-type(2),
	section#introduction > article:nth-of-type(3) {
		box-sizing: border-box;

		h1 {
			font-size: 1.5rem;
		}

		p {
			font-size: 1rem;
		}
	}

	section#introduction {
		article:nth-of-type(3) {
			padding-right: 55%;
		}

		h1#fade_out {
			left: 0;
			font-size: 2.5rem;
		}
	}

	section#depth > article:nth-of-type(1),
	section#depth > article:nth-of-type(2) {

		h1 {
			font-size: 1.5rem;
		}

		p {
			font-size: 1rem;
		}
	}

	section#example, {
		article {
			h1 {
			font-size: 1.5rem;
			}

			p {
				font-size: 1rem;
			}
		}
	}

	section#about > article:nth-of-type(1),
	section#about > article:nth-of-type(2) {
		h1 {
			font-size: 1.5rem;
		}

		p {
			font-size: 1rem;
		}
	}

	section#about a {
		transform: translate(40px, -150px);
	}

	section#development > article:nth-of-type(1),
	section#development > article:nth-of-type(2) {
		h1 {
			font-size: 1.5rem;
		}

		p {
			font-size: 1rem;
		}
	}

	section#development article:nth-of-type(1) {
		background-position: 15% 85%, 80% 15%;
	}

	div#contact_form.visible {
		top: 30px;
	}
}

