/**
 * Content Mobile Style Sheet
 * Ronen 3D sound
 *
 * Copyright (c) 2017. by Way2CU, http://way2cu.com
 * Authors: Vladimir Anusic
 */

header {
 	background-image: url(../images/mobile_header.jpg);
 	background-repeat: no-repeat;
 	background-size: 100% auto;
 	background-position: center center;
 	min-height: 300px;

 	& h1 {
 		display: block;
	    text-align: center;
	    margin-top: 1rem;
	    font-weight: 400;
 	}
}

/**
*	Section introduction
*/

section#introduction h1#fade_out {
	display: none;
}

section#introduction article:nth-of-type(1) {
 	background-image: url(../images/mobile_page_2.jpg);
 	background-repeat: no-repeat;
 	background-size: 100% auto;
 	background-position: center bottom;
 	min-height: 450px;
 	text-align: center;
 	padding: 1rem;

 	& h1 {
 		font-weight: 400;
 		margin-top: 4rem;
 	}
}

section#introduction article:nth-of-type(2) {
 	background-image: url(../images/mobile_page_3.jpg);
 	background-repeat: no-repeat;
 	background-size: 100% auto;
 	background-position: center bottom;
 	min-height: 300px;
 	text-align: center;
 	padding: 1rem;

 	& p {
 		margin-top: 10%;

 		& em {
 			font-style: normal;

 			&:nth-of-type(1) {
 				color: @color_red;
 			}

 			&:nth-of-type(2) {
 				color: @color_blue;
 			}

 			&:nth-of-type(3) {
 				color: @color_green;
 			}
 		}
 	}
}

section#introduction article:nth-of-type(3) {
 	background-image: url(../images/mobile_page_4.jpg);
 	background-repeat: no-repeat;
 	background-size: 100% auto;
 	background-position: center bottom;
 	min-height: 450px;
 	text-align: center;
 	padding: 1rem;

 	& h1 {
 		font-weight: 400;
 		position: relative;
 		color: #939393;

 		&:after {
 			content: "";
 			position: absolute;
 			width: 270px;
 			height: 80px;
 			left: 20%;
 			bottom: 0;
 			background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0,0,0,1) 100%);
 		}
 	}

 	& p {
 		margin-top: 4rem;
	}
}

/**
*	Section depth
*/

section#depth article:nth-of-type(1) {
 	padding: 1rem;
 	background-image: url(../images/mobile_page_5.jpg);
 	background-repeat: no-repeat;
 	background-size: 100% auto;
 	background-position: center bottom;
 	min-height: 500px;
 	text-align: center;

 	& h1 {
 		font-weight: 400;
 		margin-top: 1rem;
 	}
}

section#depth article:nth-of-type(2) {
 	padding: 1rem;
 	background-image: url(../images/mobile_page_6.jpg);
 	background-repeat: no-repeat;
 	background-size: 100% auto;
 	background-position: center bottom;
 	min-height: 450px;
 	text-align: center;

 	& p {
 		margin-top: 10%;
 	}
}

div#image_holder {
	width: 100%;
	background-image: url(../images/page_7.jpg);
 	background-repeat: no-repeat;
 	background-size: 100% auto;
 	background-position: center top;
 	min-height: 250px;
}

/**
*	Section example
*/

section#example {
	position: relative;
}

section#example article {
	text-align: center;
	padding: 1rem;

	& h1 {
		display: block;
		font-weight: 400;
	}

	& p {
		display: block;
		margin-top: @paragraph_spacing;
		font-weight: 400;
	}

	& p:last-of-type {
		position: absolute;
	    bottom: 75vw;
	    left: 0;
	    border-top: 1px solid white;
	    border-bottom: 1px solid white;
	    padding: 1rem;
	    background-color: @color_background;
	}
}

section#example svg {
	display: block;
	margin: 0 auto;
	width: 300px;
	height: 300px;

	&:last-of-type {
		margin-top: 60vw;
	}
}

/**
*	Section about
*/

section#about {

	& a {
		display: block;
		margin: 0 auto;
		transform: translateY(-415px);

		&:active img {
			transform: scale(1.1);
			transition: all 0.3s;
		}

	}

	& a img {
		width: 300px;
		display: block;
		margin: 0 auto;
	}
}

section#about article:nth-of-type(1) {
	background-image: url(../images/ronen.jpg);
	background-position: center bottom;
	background-size: 300px 300px;
	background-repeat: no-repeat;
	min-height: 600px;
	padding: 1rem;
	text-align: center;
}

section#about article:nth-of-type(2) {
	background-image: url(../images/android.jpg);
	background-position: center bottom;
	background-size: 170px 300px;
	background-repeat: no-repeat;
	min-height: 730px;
	padding: 1rem;
	text-align: center;
}

/**
*	Section development
*/

section#development {
}

section#development article:nth-of-type(1) {
	background-image: url(../images/adapter.jpg), url(../images/package.jpg);
	background-position: 31% 50%, 31% 85%;
	background-size: 300px 100px, 300px 300px;
	background-repeat: no-repeat;
	min-height: 830px;
	padding: 1rem;
	text-align: center;

	& h1 {

		&:first-of-type{
			font-weight: 400;
		}
	}
}

section#development article:nth-of-type(2) {
	background-image: url(../images/mobile_earphones.jpg);
	background-position: center bottom;
	background-size: 100% auto;
	background-repeat: no-repeat;
	min-height: 550px;
	padding: 1rem;
	text-align: center;

	& h1 {

		&:first-of-type{
			font-weight: 400;
		}

	}
}

/**
*	Section advantages
*/

section#advantages {
	padding: 1rem;
	text-align: center;

	& ul {
		display: block;
		list-style-type: none;
		margin: 0;
		padding: 0;

		& li {
			display: block;
			width: 100%;
			margin-bottom: 2rem;

			& svg {
				fill: @color_text;
				width: 80px;
				height: 80px;
				display: block;
				margin: 0 auto;
				margin-bottom: 1rem;
			}
		}
	}
}

/**
*	Footer
*/

footer {
	background-image: url(../images/mobile_footer.jpg);
	background-position: center bottom;
	background-size: 100%;
	background-repeat: no-repeat;
	text-align: center;
	min-height: 1050px;

	& article {
		padding: 1rem;
	}
}

/**
*	Copyright
*/

div.copyright {
	text-align: center;
	background-color: black;
	color: white;
	margin-top: -1px;

	background-position: calc(~'50% - 100px') center
}